*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: FlappyFont;
    src: url(../styles/flappy-font.ttf);
}
body{
    background-color: orange;
    font-family: FlappyFont;
    text-align: center;
}
#game{
    margin: auto;
    margin-top: 15px;
    width: 700px;
    height:600px;
    border: 2px solid black;
    background-image: url(../images/NewBackground.jpg);
    background-size: cover;
    overflow: hidden;
}
#building-crane{
    width: 100px;
    height: 600px;
    /* border: solid 1px black; */
    /* background-image: url(../images/done-building-with-crane.png); */
    position: relative;
    animation-name: bar;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes bar{
    0%{left: 700px;} 
    /* 50%{left: 275px;} */
    100%{left: -500px;}
    
} 
#pigeon{
    width: 60px;
    height: 60px;
    /* border: solid 2px blue; */
    top: 300px;
    display: flex;
    position: absolute;
}
#opening{
    width: 100px;
    height: 110px;
    /* border: solid 1px black;  Border for sizing */
    background-color: transparent;
    top: -458px;
    /* background-image: url(../images/done-building-with-crane.png); */
    position: relative;
    animation-name: bar;
    animation-duration: 4s;
    animation-iteration-count: infinite; 
}
h1{
    margin-top: 20px;
    color: aliceblue;
    color: white;
    font-size: 50px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    
}