*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: FlappyFont;
    src: url(../styles/flappy-font.ttf);
}
body{
    background-image: url(https://media.giphy.com/media/euuaA2cwLEUuI/giphy.gif);
    font-family: FlappyFont;
    background-size: 10vw;
    text-align: center;
}
#game{
    margin: auto;
    margin-top: 15px;
    width: 700px;
    height:598px;
    border: 3px solid rgb(255, 140, 0);
    display: flex;
    background-image: url(../images/NewBackground.jpg);  
    background-color: #e0dd9d;
    background-size: cover;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    position: relative;
}

#pipe1{
    /* width: 100px;
    height: 600px; */
    /* border: solid 1px black; */
    /* background-image: url(../images/done-building-with-crane.png); */
    /* border: solid 3px red; */
    position: relative;
    animation-name: bar;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}
#pipe2{
    /* border: solid 3px red; */
    position: relative;
    left: 800px;
    animation-name: bar2;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}
/* #pipe3{
    position: relative;
    animation-name: bar3;
    animation-delay: 4s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
} */
#floor{
    position: absolute;
    top: 50px;

}
@keyframes bar{
    0%{left: 800px;} 
    /* 50%{left: 275px;} */
    100%{left: -400px;}
    
} 
@keyframes bar2{
    0%{left: 800px;} 
    /* 50%{left: 275px;} */
    100%{left: -800px;}
    
} 
 /* @keyframes bar3{
    0%{left: 800px;} 
    100%{left: -700px;}
    
}   */

#pigeon{
    width: 50px;
    height: 50px;
    /* border: solid 2px blue; */
    top: 300px;
    position: absolute;
    left: 35% ;
}
#opening{
    width: 100px;
    height: 110px;
    /* border: solid 1px black;  Border for sizing */
    background-color: transparent;
    top: -458px;
    /* background-image: url(../images/done-building-with-crane.png); */
    position: relative;
    animation-name: bar;
    animation-duration: 8s;
    animation-iteration-count: infinite; 
    animation-play-state: paused;
}
h1{
    margin-top: 20px;
    color: white;
    font-size: 50px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 153, 0);
}
.button{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}
h3{
    font-size: 50px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 153, 0);
}
.hide{
    visibility: hidden;
} 
